body {
  background: rgb(209, 74, 119);
}

h1 {
  text-align: center;
  color: rgb(34, 7, 58);
}
p {
  text-align: center;
}
.links {
  text-align: center;
}

img {
  border-radius: 9px;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

.links a {
  margin: 0 10px;
  color: rgb(6, 6, 39);
}
